<!DOCTYPE html>

<html>

<head>

	<title>Creemos (del verbo crear)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

	<link type="text/css" rel="stylesheet" href="css/style.css" />
	<script src="https://use.fontawesome.com/12c273beb8.js"></script>
	<!--<link href="http://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet" type="text/css">-->

</head>

<body class="judge">

	<!-- HEADER -->
	<header id="header">

		<h1>
			Creemos (del verbo crear)
		</h1>

	</header>

	<!-- RATINGS -->
<section id="ratings" class="section">

	<div class="main-ratings">

		<a class="btn btn-rating rating-positive" id="positive" href="#" dragabble="false" scroll="false">
			<i class="fa fa-sign-language"></i>
		</a>

		<a class="btn btn-rating rating-negative" id="negative" href="#" dragabble="false" scroll="false">
			<i class="fa fa-frown-o"></i>
		</a>

	</div>

	<div class="other-ratings">

		<a class="btn btn-default" id="crack" href="#">
			Crack
		</a>

		<a class="btn btn-default" id="payaso" href="#">
			Payaso
		</a>

		<a class="btn btn-default" id="queremos" href="#">
			Queremos un hijo tuyo
		</a>

		<a class="btn btn-default" id="caraanchoa" href="#">
			?
		</a>

	</div>

</section>
	<!-- RESUME -->
<section id="resume" class="section">

	<div class="option">
		Sígueme en Twitter
		<a class="btn btn-twitter" href="https://twitter.com/intent/follow?screen_name=ojoven"><i class="fa fa-twitter"></i>@ojoven</a>
	</div>

</section>

	<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/app.min.js?v=1"></script>

</body>
</html>
