<!DOCTYPE html>

<html>

<head>

	<title>Speaker | Creemos (del verbo crear)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

	<link type="text/css" rel="stylesheet" href="css/style.css" />
	<script src="https://use.fontawesome.com/12c273beb8.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">

</head>

<body class="speaker">

	<!-- HEADER -->
	<header id="header">

		<h1>
			¡CREEMOS! (del verbo crear)
		</h1>

		<nav class="menu-right">
			<li><a id="to-dashboard" href="#" class="fa fa-dashboard"></a></li>
		</nav>

	</header>

	<div class="container">

		<div class="presentation">
			<!-- PRESENTATION -->
<section>
	<iframe src="https://docs.google.com/presentation/d/16N9yvVJOVn_bjXrX_axU5LpGQv1Yg-uyO_C_p9khfgA/embed?start=false&loop=false&delayms=60000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</section>
		</div>

		<div id="dashboard" class="dashboard">
			<!-- LOGS -->
<section>
	<h2 class="section-title">Ratings</h2>
	<div class="section-body dashboard-ratings">

		<!-- NEGATIVE -->
		<span class="dashboard-rating negative">
			<i class="fa fa-trash"></i><span class="value">0</span>
		</span>

		<!-- POSITIVE -->
		<span class="dashboard-rating positive">
			<i class="fa fa-heart"></i><span class="value">0</span>
		</span>

	</div>
</section>
			<!-- LOGS -->
<section>
	<h2 class="section-title">Logs</h2>
	<div class="section-body logs_container">
		<div id="logs" class="logs">
		</div>
	</div>
</section>
			<!-- URL -->
<section>
	<h2 class="section-title">URL</h2>
	<div class="section-body">
		<input id="url" type="url" placeholder="Enter an URL" />
		<a href="#" class="btn btn-default" id="to-send-url">Send URL</a>
	</div>
</section>
			<!-- URL -->
<section>
	<h2 class="section-title">Views</h2>
	<div class="section-body">
		<a href="#" class="btn btn-default" id="to-ratings">Ratings</a>
		<a href="#" class="btn btn-default" id="to-resume">Resume</a>
	</div>
</section>
		</div>

		<div class="others">
			<!-- AUDIOS -->
<section class="audios">

	<audio id="applause-player" controls>
		<source src="mp3s/applause.mp3?v=3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>

	<audio id="boo-player" controls>
		<source src="mp3s/boo.mp3?v=3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>

	<audio id="crack-player" controls>
		<source src="mp3s/crack.mp3?v=3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>

	<audio id="payaso-player" controls>
		<source src="mp3s/payaso.mp3?v=3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>

	<audio id="queremos-player" controls>
		<source src="mp3s/queremos.mp3?v=3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>

	<audio id="caraanchoa-player" controls>
		<source src="mp3s/caraanchoa.mp3?v=3" type="audio/mpeg">
		Your browser does not support the audio element.
	</audio>

	<div class="log"></div>

</section>
		</div>

	</div>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/app.min.js?v=1"></script>

</body>

</html>