// ==============================================
// SECTIONS
// ==============================================

// Judge
#ratings { display: block; }
#resume { display: none; }

.section {
	margin: 20px 0;
}

.option {
	margin: 20px 0;
	padding-bottom: 20px;
	border-bottom: 2px solid $creamFoam;
}

// Presenter
.audios {
	display: none;
}

.logs {
	margin: 20px 0;

	.log {
		font-size: 14px;
		color: $blackTundora;
		margin: 5px 0;

		&.positive-start,
		&.positive-end {
			color: $greenPea;
		}

		&.negative-start,
		&.negative-end {
			color: $redFirebrick;
		}
	}
}

// ==============================================
// MOBILE
// ==============================================
@include mobile {

}