// ==============================================
// SECTIONS
// ==============================================

// Judge
#ratings { display: block; }
#resume { display: none; }

.section {
	margin: 20px 0;
}

.option {
	margin: 20px 0;
	padding-bottom: 20px;
	border-bottom: 2px solid $creamFoam;
}

.main-ratings {
	margin-bottom: 20px;
}

// Presenter
.audios {
	display: none;
}

.logs_container {
	width: 90%;
	margin: 20px auto;
	height: 250px;
	padding: 20px;
	border: 2px solid #ccc;

	.logs {
		height: 200px;
		overflow: hidden;
	}

	.log {
		font-size: 14px;
		color: $blackTundora;
		margin: 5px 0;

		&.positive-start,
		&.positive-end {
			color: $greenPea;
		}

		&.negative-start,
		&.negative-end {
			color: $redFirebrick;
		}
	}
}

// ==============================================
// MOBILE
// ==============================================
@include mobile {

}