<!DOCTYPE html>

<html>

<head>

	<title>The Judge</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

	<link type="text/css" rel="stylesheet" href="css/style.css" />
	<!--<link href="http://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet" type="text/css">-->

</head>

<body class="judge">

	<!-- HEADER -->
	<header id="header">

		<h1>
			The Judge
		</h1>

	</header>

	<!-- SECTION -->
	<section id="ratings" class="section">

		<div class="main-ratings">

			<a class="btn btn-rating rating-positive" id="positive" href="#">
				Applause
			</a>

			<a class="btn btn-rating rating-negative" id="negative" href="#">
				Booooh!
			</a>

		</div>

		<div class="other-ratings">

			<a class="btn btn-default" id="crack" href="#">
				Crack
			</a>

			<a class="btn btn-default" id="payaso" href="#">
				Payaso
			</a>

			<a class="btn btn-default" id="queremos_un_hijo_tuyo" href="#">
				Queremos un hijo tuyo
			</a>

			<a class="btn btn-default" id="caraanchoa" href="#">
				?
			</a>

		</div>

	</section>

	<section id="resume" class="section">



	</section>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/app.min.js?v=1"></script>

</body>
</html>
