<!DOCTYPE html>

<html>

<head>

	<title>The Presenter</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

	<link type="text/css" rel="stylesheet" href="css/style.css" />
	<script src="https://use.fontawesome.com/12c273beb8.js"></script>
	<!--<link href="http://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet" type="text/css">-->

</head>

<body class="presenter">

	<!-- HEADER -->
	<header id="header">

		<h1>
			Node JS tutorial
		</h1>

	</header>


	<section class="audios">

		<audio id="applause-player" controls>
			<source src="mp3s/applause.mp3" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>

		<audio id="crack-player" controls>
			<source src="mp3s/crack.mp3" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>

		<audio id="payaso-player" controls>
			<source src="mp3s/payaso.mp3" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>

		<audio id="queremos-player" controls>
			<source src="mp3s/queremos_un_hijo_tuyo.mp3" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>

		<audio id="caraanchoa-player" controls>
			<source src="mp3s/caraanchoa.mp3" type="audio/mpeg">
			Your browser does not support the audio element.
		</audio>

		<div class="log"></div>

	</section>

	<footer>
		<a href="#" id="to-ratings">Ratings</a>
		<a href="#" id="to-resume">Resume</a>
	</footer>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/app.min.js?v=1"></script>

</body>

</html>