<!DOCTYPE html>

<html>

<head>

	<title>The Judge</title>

	<link type="text/css" rel="stylesheet" href="css/style.css" />
	<link href="http://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet" type="text/css">

</head>

<body>

	<!-- HEADER -->
	<header id="header">

		<h1>
			Node JS tutorial
		</h1>

	</header>

	<!-- SECTION -->
	<section>

		<div class="tutorial">
			<a id="emitter" href="#">
				Emit!
			</a>
		</div>

	</section>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/app.min.js?v=1"></script>

</body>
</html>
